<h2>Please fill the form below: </h2>
<%= render partial: "shared/errors", locals: {obj: membership} %>
<%= form_for(membership) do |f| %>
<div class="form-group">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="btn-group" role="group">
  <%= f.submit "Save",class: "btn btn-default" %>
  <%= link_to "Cancel", memberships_path,class: "btn btn-default" %>
</div>

<% end %>
