<h2>Please fill the form below: </h2>
<%= render partial: "shared/errors", locals: {obj: character} %>
<%= form_for(character) do |f| %>
  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :role, "Role: " %>
    <%= f.select :role, Character.roles %>
  </p>
  <p>
    <%= f.label :membership_id, "Membership" %>
    <%= f.select :membership_id, Membership.pluck(:name, :id) %>
  </p>
  <p>
    <%= f.label :email, "Email: " %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :avatar_url, "Avatar URL: " %>
    <%= f.text_field :avatar_url %>
  </p>
  <p>
    <%= f.submit "Save" %>
    <%= link_to "Cancel", root_path %>
  </p>
<% end %>
