<h1>Post #<%= @post.id %> by <%= @post.character.name %></h1>

<% if flash[:notice] %>
  <p style="background: yellow">
    <%= flash[:notice] %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Message</th>
      <th>Scheduled</th>
      <th>Location</th>
      <th>Created At</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @post.character.avatar_url, :size => "80x100" %></td>
      <td><%= @post.id %></td>
      <td><%= @post.message %></td>
      <td><%= nice_date(@post.scheduled_at) %></td>
      <td><%= @post.location %></td>
      <td><%= nice_date(@post.created_at) %></td>
      <td><%= nice_date(@post.updated_at) %></td>
    </tr>
    <tr>
      <div class="btn-group" role="group">
        <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
      </div>

    </tr>
  </tbody>
</table>


<%= render partial: "post_comments", locals: {comments: @post.comments} %>
<div class="btn-group" role="group">
<td><strong><%= link_to "Comment", new_post_comment_path(@post),class: "btn btn-default" %></strong></td>
</div>
