<h1>Post #<%= @post.id %></h1>

<% if flash[:notice] %>
  <p style="background: yellow">
    <%= flash[:notice] %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Scheduled</th>
      <th>Location</th>
      <th>Avatar URL</th>
      <th>Created At</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @post.id %></td>
      <td><%= @post.message %></td>
      <td><%= nice_date(@post.scheduled_at) %></td>
      <td><%= @post.location %></td>
      <td><%= @post.avatar_url %></td>
      <td><%= nice_date(@post.created_at) %></td>
      <td><%= nice_date(@post.updated_at) %></td>
    </tr>
    <tr><%= link_to "Edit", edit_post_path %></tr>
  </tbody>
</table>

<%= render partial: "post_comments", locals: {comments: @post.comments} %>

<td><strong><%= link_to "Comment", new_post_comment_path(@post) %></strong></td>