<!DOCTYPE html>
<html>
<head>
  <title>SuperBook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">

    <div class="container-fluid">

      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">SUPERBOOK!!!</a>-->
      </div>

      <ul class="nav navbar-nav">
        <li>
					<%= link_to root_path do %>
						<span class="fa fa-home"></span>
						Home
					<% end %>
				</li>
				<li>
					<%= link_to new_character_path do %>
						<span class="fa-id-card"></span>
						New Character
					<% end %>
					</li>
				<li>
					<%= link_to posts_path do %>
						<span class="fa fa-book"></span>
						View Posts
					<% end %>
				</li>
				<li>
					<%= link_to memberships_path do %>
						<span class="fa fa-sign-in"></span>
						Members
					<% end %>
				</li>
      </ul>
    </nav>
      <div class="container-fluid">

    		<%= yield %>

    		<hr>
    		<footer>
    			<p>
            Here to fight for
            <strong>
              justice!!
            </strong>, except for deadpool.
          </p>
    		</footer>
    	</div>
